.Second-button{
    max-width: 200px;
    margin-top: 30px;
    height: 60px;
    background-color: white;
    outline:none;
    cursor: pointer;
    border: 1px solid rgb(6, 34, 6);
    color: rgb(13, 73, 13);
    font-size: 14px;
    transition: 0.5s;
    padding: 20px;
}
.Second-button:hover{
    color: green;
    border: 1px solid green;
}